<%- include('include/header') %>
    <%- include('include/navbar') %>
        <div class="product-card">
            <div class="image-container">
                <div class="cover-image product-image">
                    <img src="<%= book.image  %> " alt="">
                </div>

            </div>
            <div class="product-info">
                <a style="text-decoration: none;" href="#" class="free-shipping">Free shipping</a>
                <h3 class="product-name">
                    <%= book.name %>
                </h3>
                <p class="regular-price">
                    <%= book.price+20 %>$
                </p>
                <p class="discount-price">
                    <%= book.price %>$
                </p>
                <p class="offer-info">
                    <%= book.description %>
                </p>
                <a href="#" class="add-to-cart text-decoration-none">
                    <ion-icon name="bag-add-outline"></ion-icon> Buy Now
                </a>
                
                <div class="buttons">
                    <a href="#" class="button text-decoration-none">
                        <ion-icon name="add-outline"></ion-icon>
                        Add to cart
                    </a>
                    <a href="#" class="button text-decoration-none">
                        <ion-icon name="heart-outline"></ion-icon> Add to wishlist
                    </a>
                </div>
            </div>
        </div>

        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <%- include('include/footer') %>